/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*.tar
/logs
*.log
.nrepl-port
.lein-repl-history
/resources/files
resources/files
resources/custom_config.clj
*.sh
